<div class="container mt-5">
    <h2 class="mb-4">Formulario de Dirección</h2>
    <form >
      <div class="form-group">
        <label for="calle">Calle</label>
        <input type="text" class="form-control" formControlName="calle" placeholder="Ingrese el nombre de la calle">
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="numero1">Número</label>
          <input type="number" class="form-control" formControlName="numero1" placeholder="Número">
        </div>
        <div class="form-group col-md-2">
          <label for="letra1">Letra</label>
          <input type="text" class="form-control" formControlName="letra1" placeholder="Letra">
        </div>
        <div class="form-group col-md-1">
          <label for="hash">#</label>
          <input type="text" class="form-control" formControlName="hash" placeholder="#" disabled>
        </div>
        <div class="form-group col-md-2">
          <label for="numero2">Número</label>
          <input type="number" class="form-control" formControlName="numero2" placeholder="Número">
        </div>
        <div class="form-group col-md-2">
          <label for="letra2">Letra</label>
          <input type="text" class="form-control" formControlName="letra2" placeholder="Letra">
        </div>
        <div class="form-group col-md-2">
          <label for="numero3">Número</label>
          <input type="number" class="form-control" formControlName="numero3" placeholder="Número">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
  </div>